@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgb(104, 240, 104);
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
}
.row{
    text-align: center;
    margin-top: -100px;
}
.login-box h2{
    margin: 0 0 30px;
    color: #0e153a;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 30PX;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
}
.login-box .user-box label{
    position: absolute;
    top: 0 ;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    color: #0e153a;
    font-size: 12px;
}
.myclass{
    margin-top: 25px;
    height: 50px;
    width: 120px;
    background:#000;
    color:#fff;
    border:1pxsolid#eee;
    box-shadow:5px5px5px#eee;
    text-shadow:none;
}
.myclass:hover{
    background: #123c69;
}