<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 

  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body>

 
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="index.html" class="logo me-auto"><img src="images/logo.jpg" alt="" class="img-fluid"></a>

      <h1 class="logo me-auto"><a href="index.html">EXAM ANALYTICS SYSTEM</a></h1>
      
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a  href="index.html">HOME</a></li>
          <li><a  class="active" href="about.html">ABOUT US</a></li>
          <li><a href="contact.html">CONTACT US</a></li>
          <li><a href="login.html">LOGIN</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SIGN-UP<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="student.html">FOR STUDENTS</a></li>
              <li><a href="teacher.html">FOR TEACHERS</a></li>
            </ul>
          </li>

          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">

    <div class="breadcrumbs">
      <div class="container">
        <h2>ABOUT US</h2>
      
      </div>
    </div>
    <section id="about" class="about">
      <div class="container" >

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="images/two.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>CodeAppMedia is India's First ever Programming Platform which is responsible to provide online programming Classes with live streaming by using laptop as well as from Mobile .</h3>
            
            <ul>
              <li><i class="bi bi-check-circle"></i> Deatailed analysis of students progress will be provided</li>
              <li><i class="bi bi-check-circle"></i> We assess students by conducting time based tests and allow them to analyse their strengths and weaknesses.
              </li>
              <li><i class="bi bi-check-circle"></i> We also provide monthly planner for students to manage their upcoming tests.</li>
            </ul>
            

          </div>
        </div>

      </div>
    </section>

    
  </main>
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>CodeAppMedia</span></strong>. <br>All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="https://www.codeappmedia.com//">CodeAppMedia</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/codeappmedia" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/Codeappmedia/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/codeappmedia/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>




</body>

</html>