<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Admin Profile Change</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <img src="images/exam.png" alt="" width="30" height="24" class="d-inline-block">
              <strong>EXAM ANALYTICS SYSTEM</strong>
                  <a class="nav-link active" href="#">Logout</a>
            </a>
          </div>
        </div>
      </header>
       
      <div class="container">
        <div class="pass">
          <div class="content-block">
              <div class="container">
                  <h2 class="change pass">Change Password</h2>
              
                  <div class="timetable">
                        <div class="row">
            
                          <div class="col-md-12">
                            <div class="table-item">
                              <div class="table-item-main">
                               
                                <div class="table-item-old"><label title="Date">Old Password: </label><input type="text" class="oldpass" name="oldpass"></div>
                                <div class="table-item-new"><label title="Test">New Password: </label><input type="text" class="newpass" name="newpass"></div>
                                <div class="table-item-confirm"><label title="Time">Confirm Password: </label><input type="text" class="confirmpass" name="confirmpass"></div>
                                <a href="#" class="btn btn-success btn-start">Update</a>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
</body>
</html>