<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="index.html" class="logo me-auto"><img src="images/logo.jpg" alt="" class="img-fluid"></a>

      <h1 class="logo me-auto"><a href="index.html">EXAM ANALYTICS SYSTEM</a></h1>
      
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a  href="index.html">HOME</a></li>
          <li><a href="about.html">ABOUT US</a></li>
          <li><a class="active" href="contact.html">CONTACT US</a></li>
          <li><a href="login.html">LOGIN</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SIGN-UP<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="student.html">FOR STUDENTS</a></li>
              <li><a href="teacher.html">FOR TEACHERS</a></li>
            </ul>
          </li>

          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">


    <div class="breadcrumbs">
      <div class="container">
        <h2>CONTACT US</h2>
      </div>
    </div>
    <section id="contact" class="contact">
      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/place/CodeAppMedia/@19.877266,75.3533271,15z/data=!4m5!3m4!1s0x0:0x8821c67f156ef563!8m2!3d19.877266!4d75.3533271" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" >

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>LOCATION:</h4>
                <p>MGM Campus, IIRC Building, Aurangabad, Maharashtra 431001</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>EMAIL-ID:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>CALL:</h4>
                <p>91-1234567890</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer">


  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>CodeAppMedia</span></strong>.<br> All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="https://www.codeappmedia.com//">CodeAppMedia</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/codeappmedia" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/Codeappmedia/" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/codeappmedia/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>



  

</body>

</html>