<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Exam Analytics System - Index Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
 <!-- <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">-->
 
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 <!--- 
  
  
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">-->

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="index" class="logo me-auto"><img src="../../public/images/logo.jpg" alt="" class="img-fluid"></a>

      <h1 class="logo me-auto"><a href="index">EXAM ANALYTICS SYSTEM</a></h1>
      
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="index">HOME</a></li>
          <li><a href="about">ABOUT US</a></li>
          <li><a href="contact">CONTACT US</a></li>
          <li><a href="login">LOGIN</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SIGN-UP<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="student">FOR STUDENTS</a></li>
              <li><a href="teacher">FOR TEACHERS</a></li>
            </ul>
          </li>

          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>Do something that your future self will thank you for!</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <form action="/" method="POST">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="images/two.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>CodeAppMedia</h3>
            <p class="fst-italic">
              CodeAppMedia is India's First ever Programming Platform which is responsible to provide online programming Classes with live streaming by using laptop as well as from Mobile .
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>Deatailed analysis of students progress will be provided</li>
              <li><i class="bi bi-check-circle"></i> We assess students by conducting time based tests and allow them to analyse their strengths and weaknesses.
              </li>
              <li><i class="bi bi-check-circle"></i> We also provide monthly planner for students to manage their upcoming tests.</li>
            </ul>
           

          </div>
        </div>

      </div>
    </section>
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Us?</h3>
              <p>
                CodeAppMedia is India's First ever Programming Platform which is responsible to provide online programming Classes with live streaming by using laptop as well as from Mobile .
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Evaluation</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius rem ipsum obcaecati consectetur aliquid! Aliquid quas sed saepe modi commodi quasi labore! At tempora distinctio neque animi doloribus deleniti a?</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Student Planner</h4>
                    <p>Montly planner for students</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>User Friendly</h4>
                    <p>Easy for students to handle and give exams efficiently</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Easy to Use</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Easy Evaluation</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Advance time management</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">A vast question bank</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Secure</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Cheat Free Exams</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Instant Feedback</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Flexibility to take exams anywhere</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
<footer id="footer">

 

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>CodeAppMedia</span></strong>.<br>All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="https://www.codeappmedia.com//">CodeAppMedia</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/codeappmedia" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/Codeappmedia/" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/codeappmedia/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
</form>

</body>

</html>
