<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div class="login-box">
        <h2>LOGIN</h>
            <form action="studenthomepage" method="get">
            <div class="user-box">
                <input type="text" name="email" required=""/>
                <label><i class="fa fa-user" aria-hidden="true"></i>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label><i class="fa fa-unlock" aria-hidden="true"></i>Password</label>
            </div>
            <button class="myclass" type="submit">Log In</button>
        </form>
   </div>
</body>
</html>