<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Teacher HomePage</title>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <img src="images/logo.jpg" alt="" width="30" height="24" class="d-inline-block">
              <strong>EXAM ANALYTICS SYSTEM</strong>
             
                  <a class="nav-link active" href="#">Logout</a>
            </a>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="idance">
          <div class="schedule content-block">
              <div class="container">
                  <h2 class="upcomingexam">Upcoming Exams</h2>
              
                  <div class="timetable">
                        <div class="row">
              
                          <div class="col-md-6">
                            <div class="timetable-item">
                              <div class="timetable-item-main">
                               
                                <div class="timetable-item-date"><label title="Date">Date:</label><input type="date" class="Datetest" name="Datetest"></div>
                                <div class="timetable-item-name"><label title="Test">Test Name:</label><input type="text" class="testname" name="testname"></div>
                                <div class="timetable-item-time"><label title="Time">Time:</label><input type="time" class="timetest" name="timetest"></div>
                                <a href="#" class="btn btn-success btn-start">Start</a>
                              </div>
                            </div>
                          </div>
                         
                          <div class="col-md-6">
                            <div class="timetable-item">
                              <div class="timetable-item-main">
                                <div class="timetable-item-date"><label title="Date">Date: </label><input type="date" class="Datetest" name="Datetest"></div>
                                <div class="timetable-item-name"><label title="Test">Test: </label><input type="text" class="testname" name="testname"></div>
                                <div class="timetable-item-time"><label title="Time">Time: </label><input type="time" class="timetest" name="timetest"></div>
                                <a href="#" class="btn btn-success btn-start">Start</a>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-6">
                            <div class="timetable-item">
                              <div class="timetable-item-main">
                                <div class="timetable-item-date"><label title="Date">Date: </label><input type="date" class="Datetest" name="Datetest"></div>
                                <div class="timetable-item-name"><label title="Test">Test: </label><input type="text" class="testname" name="testname"></div>
                                <div class="timetable-item-time"><label title="Time">Time: </label><input type="time" class="timetest" name="timetest"></div>
                                <a href="#" class="btn btn-success btn-start">Start</a>
                              </div>
                            </div>
                          </div>
              
                         
                          <div class="col-md-6">
                            <div class="timetable-item">
                              <div class="timetable-item-main">
                                <div class="timetable-item-date"><label title="Date">Date: </label><input type="date" class="Datetest" name="Datetest"></div>
                                <div class="timetable-item-name"><label title="Test">Test: </label><input type="text" class="testname" name="testname"></div>
                                <div class="timetable-item-time"><label title="Time">Time: </label><input type="time" class="timetest" name="timetest"></div>
                                <a href="#" class="btn btn-success btn-start">Start</a>
                              </div>
                            </div>
                          </div>
                  
            </div>
        </div>
      
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow radius-15 student ">
              <h2> My Profile</h2>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <form class="form-inline" action="/viewprofile" method="POST">
                    <button type="submit" class="btn btn-sm btn-info">
                     View</button> </form>
                </div>
              </div>
           </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow radius-15 student">
              <h2>Create Test</h2>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <form class="form-inline" action="/start" method="POST">
                    <button type="submit" class="btn btn-sm btn-info">Start</button></form>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow radius-15 student">
            <h2>Student Profile</h2>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <form class="form-inline" action="/teacherhome" method="POST">
                  <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-info btn-sm" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
        
      </div>
      <div class="request-container flex-container">
        <div style="flex-grow: 1">
          <h2 style="margin: 30px">Requests</h2>
        </div>
        <div style="flex-grow: 8">
          <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </div>
      <div class="table-container flex-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr.No</th>
              <th scope="col">Profile Photo</th>
              <th scope="col">Name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Accept/Decline Request</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><img class="rounded-circle" width="40" height="40" alt="profile photo"  src="images/admin_image.png"
                data-holder-rendered="true"></td>
              <td>John Adam</td>
              <td>john123@gmail.com</td>
              <td>
                <div class="row">
                  <div class="column">
                    <button class="btn btn-success acceptbtn"  type="submit">ACCEPT</button>
                  </div>
                  <div class="column">
                   <button class="btn btn-danger rejectbtn" type="submit">REJECT</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>   
</body>
</html>